
#services{
    flex-direction: column;
}
#home{
    height: 370px;
    padding: 3px 60px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
#clients{
    flex-wrap: wrap;
    height: 687px;
}
#clients img{
    width: 85px;
    padding: 2px 6px;
    height: auto;
}
#client-section{
    position: relative;
}
#client-section::before{
    height: 100%;
}
.client-items{
    padding: 40px;
}
.p-head{
    font-size: 36px;
}
#sayan{
    /* display: flex; */
    flex-wrap: wrap;
    font-size: 12px;
    flex-direction: column;
    /* height: 800px; */
    position: relative;
}
#sayan::before{
    content: "";
    position: absolute;
    background: url(https://img.freepik.com/premium-photo/contact-us-customer-support-hotline-people-connect-call-customer-support-email-address-live-chat-internet-wifi_36325-3415.jpg?w=2000)no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}


#join{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}
#img1 img {
    width: 112%;
    height: 0%;
}
#para{
    font-size: 20px;
    width: 130%;
}
.form-group{
    width: 200px;
}
.d-flex{
    margin-right: 35px;
}
.d-flex p{
    font-size: 19px;
}
#pcol{
    /* flex-direction: column; */
    margin-left: 44px;
    flex-wrap: wrap;
}
#pcol2{
    /* flex-direction: column; */
    margin-left: 44px;
    flex-wrap: wrap;
}
#menp{
    padding: 0px 0px;
}
#partner {
    margin: 46px 0px;
}
#df{
    display: block;
}
#logo {
    width: 220px;
    margin-left: 0rem;
    margin-bottom: 0rem
}
#det {
    margin-left: 0rem;
    margin-top: 3rem;
}
#contact{
    
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 100%;
   
}
#management{
    display: flex;
    flex-direction: column;
}
#mg{
    display: flex;
    flex-direction: column;
}
#management::before{
    content: "";
    position: absolute;
    background: url("https://images.immediate.co.uk/production/volatile/sites/4/2021/08/mountains-7ddde89.jpg?resize=768,574")no-repeat center center/cover;
    /* height: 115%; */
    height: 53rem;
    width: 100%;
    z-index: -1;
    opacity: 0.2;


}
#mentor{
    margin-top: 6rem;
}
#mgp{
    height: 390px;
    margin: 17px 8p
}
#mgt{
    padding: 0px 0px;
    width: 100%;
}
#mgt button{
    
}

/* .mbr-box {
    display: table;
    width: 100%;
    height: 1000px;
  
} */
#df{
    text-align: center;
}
#icon{
    justify-content: center;
}
#speaker{
    display: block;
    font-size: 80%;
}
#speaker p{
    position: relative;
    margin: 0rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
}
#speaker div{
    width: 100%;
    
}
